// screen-size
$phone-size: 767px;

// font-size
$title-size: 48px;
$title2-size: 40px;
$text-size: 36px;
$text2-size: 32px;
$text3-size: 24px;
$text4-size: 20px;
$text5-size: 16px;
$text6-size: 14px;
$text7-size: 10px;

// font-weight
$bold-weight: 700;
$text-weight: 400;

